<message>
  <generator>
    <name>github catcher</name>
    <version>1</version>
    <url>http://www.tekkub.net</url>
  </generator>
  <source>
    <project><%= @source %></project>
    <branch><%= @branch %></branch>
  </source>
  <timestamp><%= @commit["timestamp"].to_i %></timestamp>
  <body>
    <commit>
      <author><%= author_name @commit["author"] %></author>
      <revision><%= @sha1[0..6] %></revision>
      <log><%= @commit["message"] %></log>
      <url><%= @commit["url"] %></url>
    </commit>
  </body>
</message>
